docker/postgres/data
!docker/postgres/.keep
docker-compose.override.yml

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/test/unit/coverage/
frontend/test/e2e/reports/
selenium-debug.log

*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore all logfiles and tempfiles
log/
tmp
!/log/.keep
!/tmp/.keep

kustomize/**/secrets/*.sh
!kustomize/**/secrets/sample*.sh

.env
.env.staging
.env.production
.env.local

# Ignore other staff
.idea
.vscode
.DS_Store

backend/.bundle
backend/config/master.key
backend/public/packs
backend/public/packs-test
backend/public/uploads
backend/byebug_history
