.bundle
config/master.key

docker/mysql/data

# Ignore all logfiles and tempfiles
log/
tmp
!/log/.keep
!/tmp/.keep

# Ignore other staff
.idea
.env
.vscode
.DS_Store
# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/public/uploads
